<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - CIE</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    
    {% block estilos %}{% endblock %}
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    
</head>
<body>
    <div class="contenedor-principal">
        {% block content %}{% endblock %}
    </div>
    <footer>
        <div class="indicador-estado">
            <span class="luz-estado"></span>
            <span>ESTADO DEL SISTEMA:</span>
            <span class="texto-estado">OPERATIVO</span>
        </div>
        <div class="info-version">
            <span>Powered by Jairo Sevilla // Versión 2.0</span>
        </div>
    </footer>
</body>
</html>